

	<script id="univ-selection-modal.html" type="text/ng-template">
	  <ion-modal-view>
	    <ion-header-bar>
	      <h1 class="title">Select University</h1>
	    </ion-header-bar>
	    <ion-content>
		  <div class="list list-inset">
		    <label class="item item-input">
		      <i class="icon ion-search placeholder-icon"></i>
		      <input type="text" placeholder="Search" ng-model="searchUniv">
		    </label>
		  </div>
		  
		  <div class="list">
		    <a class="item item-thumbnail-left" ng-click="setCollege(school)" ng-repeat="school in schools | filter:{ name: searchUniv }" >
		      <!--<img ng-src="{{ clhost + '/' + school.imgPath}}">-->
		      <h2>{{ school.name}}</h2>
		    </a>
		   </div>
	    </ion-content>
	  </ion-modal-view>
	</script>

  <div id="fb-root"></div>
  <header-bar></header-bar>
  <ion-content class="has-header body-color">
    
		<!--<div ng-show="errorMsg.length > 0" class="cl_error">
			<i class="icon ion-close-circled"></i> 
			{{ errorMsg}}
		</div>-->
		
	<ul class = "list">
	  <div class = "list list-inset">
	    <label class="item item-input">
	    	<input type="text" placeholder="Username" ng-model="userDetail.userName">
	    </label>
	
	    <label class="item item-input">
	    	<input type="text" placeholder="First Name" ng-model="userDetail.firstName">
		</label>
	
	    <label class="item item-input">
	    	<input type="text" placeholder="Last Name" ng-model="userDetail.lastName">
		</label>
	   </div>
	   <div class = "list list-inset">
		<!--<label class="item item-input item-select">
		    <div class="input-label">
		    	University
		    </div>
	    	<select class="item-input-wrapper" ng-model="userDetail.college">
  				<option value="{{ school }}" ng-repeat="school in schools">{{school.name}}</option>
  			</select>
	    </label>-->
	    <label class="item item-input">
	    	<input type="text" placeholder="University" ng-model="userDetail.univName" ng-click="openModal()">
	    </label>
		<label class="item item-input">
		    <input type="email" placeholder=".edu Email Address" ng-model="userDetail.email">
	    </label>
	   </div>
	   <div class = "list list-inset">
				<ion-toggle ng-model="facebookLogin.checked" ng-checked="facebookLogin.checked" ng-change="checkFacebookLogin()" toggle-class="toggle-balanced">Facebook</ion-toggle>
				<ion-toggle ng-model="isInstagramLogin" ng-checked="isInstagramLogin" toggle-class="toggle-balanced">Instagram</ion-toggle>

				<!--<li class="item item-toggle">
		      		Facebook
			     	<label class="toggle toggle-balanced">
				      	 <input type="checkbox" ng-model="fb_login_status" ng-change="facebookLogin()">
	
				       	<div class="track">
				         	<div class="handle"></div>
				      	 </div>
			    	</label>
		    	</li>-->
		    	
				 <!--<li class="item item-toggle">
			     Instagram
			     <label class="toggle toggle-balanced">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
		     	</li>-->
		    </div>
			
		
		</div>
		<div class = "list list-inset">
			<button class="button button-medium button-royal sign-up" ng-click="createAccount()">Sign&nbsp;up</button>
			<button class="button button-dark button-small button-clear question">Already&nbsp;have&nbsp;an&nbsp;account?</button>
			<a href="#/app/login"><button class = "button button-medium button-light login fore-color">Login</button></a>
		</div>
		
	</ul>
		
	<div class="input-label">
		{{ $scope.userCreateMessage}}
	</div>
  </ion-content>

