
  <div class="bar bar-header header-color">

    <!--<a class="button icon-left ion-arrow-left-a button-clear button-dark"  href="#/app/login"></a>-->

    <h1 class="header-font title">CollegeLife</h1>
  </div>
  <ion-content class="has-header body-color">
    
		<!--<div ng-show="errorMsg.length > 0" class="cl_error">
			<i class="icon ion-close-circled"></i> 
			{{ errorMsg}}
		</div>-->
		
		<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <i class="icon ion-search placeholder-icon"></i>
		      <input type="search" placeholder="University Search">
		    </label>
		    <!--<button class="button button-small">
		      Search
		    </button>-->
	    </div>
	  
	    <label class="item item-input item-select">
		    <div class="input-label">
		    	University
		    </div>
	    	<select class="item-input-wrapper" ng-model="userDetail.college">
  				<option value="{{ school }}" ng-repeat="school in schools">{{school.name}}</option>
  			</select>
	    </label>
	
		<label class="item item-input item-floating-label">
		    <span class="input-label">.Edu Email</span>
		    <input type="email" placeholder=".edu Email Address" ng-model="userDetail.email">
	    </label>
	  
	    <label class="item item-input item-floating-label">
	    	<span class="input-label">User Name</span>
	    	<input type="text" placeholder="User Name" ng-model="userDetail.userName">
	    </label>
	
	    <label class="item item-input item-floating-label">
	    	<span class="input-label">First Name</span>
	    	<input type="text" placeholder="First Name" ng-model="userDetail.firstName">
		</label>
	
	    <label class="item item-input item-floating-label">
	    	<span class="input-label">Last Name</span>
	    	<input type="text" placeholder="Last Name" ng-model="userDetail.lastName">
		</label>
			
		<ul class="list">
		
			<li class="item item-toggle">
			     Facebook
			     <label class="toggle toggle-balanced">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
		    </li>
		    <li class="item item-toggle">
			     Instagram
			     <label class="toggle toggle-balanced">
			       <input type="checkbox">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
		     </li>
		
		</ul>
		<div class="input-label">
			{{ $scope.userCreateMessage}}
		</div>
		<div class= "button-bar">
			<button class="button button-small button-balanced align-right" ng-click="createAccount()">Join CollegeLife</button>
		</div>
		
		<span style="padding-left:35%;">Have an account ?<a href="#/app/login"> Log In</a></span>
  </ion-content>

