

<!-- <div class="bar bar-subheader" style="border-style:none; "> -->

<ion-header-bar class="bar-subheader has-header">	
	<!-- <p style="margin-top:10px; margin-left:5px;"></p> -->

	<div class="row" style="padding:0px;">
	      
	      	<div class="col-10"><img ng-src="img/search_icon_mote.jpg" width="80%" ng-click="toggleCustomMenu()" ></div>
	      	<div class="col">
		        <button class="button" ng-class="{'button-royal': friends, 'button-outline button-royal': !friends}" ng-click="setContext('friends')" style="border-radius: 30px; font-size:18px">friends
		        </button>
		    </div>
		    <div class="col">    
		        <button class="button" ng-class="{'button-royal': school, 'button-outline button-royal': !school}" ng-click="setContext('school')" style="border-radius: 30px; font-size:18px">school</button>
		    </div>
		    <div class="col">
				<button class="button" ng-class="{'button-royal': nation, 'button-outline button-royal': !nation}" ng-click="setContext('nation')" style="border-radius: 30px; font-size:18px">national</button>
		    </div>
	        <div class="col-10"></div>
	      
	</div>

</ion-header-bar>	
<!-- </div> -->


