
<div class="bar bar-subheader" style="border-style:none; height:100px;">
	
	<!--<p align="left" background></button></p>-->

	<p style="margin-top:10px; margin-left:5px;"><img ng-src="img/search_icon_mote.jpg" width="10%"/><p>

	<div class="row" style="margin-top:-25px;">
	      <!--<div class="button-bar" style="width:80%;  margin-left:30px;">-->
	      	<div class="col-10"></div>
	      	<div class="col">
		        <button class="button" ng-class="{'button-royal': friends, 'button-outline button-royal': !friends}" ng-click="setContext('friends')" style="border-radius: 30px; font-size:18px">friends
		        </button>
		    </div>
		    <div class="col">    
		        <button class="button" ng-class="{'button-royal': school, 'button-outline button-royal': !school}" ng-click="setContext('school')" style="border-radius: 30px; font-size:18px">school</button>
		    </div>
		    <div class="col">
				<button class="button" ng-class="{'button-royal': nation, 'button-outline button-royal': !nation}" ng-click="setContext('nation')" style="border-radius: 30px; font-size:18px">national</button>
		    </div>
	        <div class="col-10"></div>
	      <!--</div>-->
	</div>
</div>

