
<div class="bar bar-footer bar-dark">
	<!--<div class="button-bar">
	  <a class="button button-clear button-large" href="#/app/friends_feeds"><img src="img/friend.png" ></a>
	  <a class="button button-clear button-large" href="#/app/school_feeds"><img src="img/school.png" ></a>-->
	  <a style="margin-left:45%;font-size:100px;" class="button button-clear button-large icon ion-camera" href="#/app/new_post/1"></a>
	  <!--<a class="button button-clear button-large" href="#/app/national_feeds"><img src="img/national.png" ></a>
	  <a class="button button-clear button-large" ><img src="img/profile.png" ></a>
	</div>-->
</div>