
  <div class="bar bar-header header-color">
    <a class="button icon-left ion-arrow-left-a button-clear button-dark" href="#/app/login"></a>
    <h1 class="header-font title">Mote</h1>
  </div>
  <ion-content class="has-header body-color">

    <div class="list">
      <div class="item item-input-inset body-color">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-email-outline placeholder-icon"></i>
            <input type="text" placeholder=".edu Email Address" ng-model="loginData.user_name">
          </label>  
      </div>
    </div>

    <button class="button button-block button-energized">
      send password
    </button>

    <div class="list card">

      <a class="item item-icon-left">
        <i class="icon ion-ios7-information-outline"></i>
        Pasword will be sent to your registered email.
      </a>
      <a href="#/app/login" class="item item-icon-left">
        <i class="icon ion-film-marker"></i>
        Go back to login page.
      </a>
      
    </div>
  </ion-content>
