 
 <!--<ion-view title="Friends">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
	<div class="button-bar" style="width:80%;  margin-left:30px;">
	  <a class="button" ng-class="{'button-stable': !friends, 'header-color': friends}" href="#/app/friends_feeds" ng-click="setContext('friends')">Friends</a>
	  <a class="button" ng-class="{'button-stable': !school, 'header-color': school}" href="#/app/school_feeds" ng-click="setContext('school')">School</a>
	  <a class="button" ng-class="{'button-stable': !nation, 'header-color': nation}" href="#/app/national_feeds" ng-click="setContext('nation')">National</a>
	</div>
  </div>-->
  
  <header-bar></header-bar>
  <header-bar-feed></header-bar-feed>
  

  <ion-content class="has-subheader" style="padding:10px;">
  	
	  <ul class="list" style="padding-top:80px;">
	  	<li class="item" style="padding: 0px;" ng-repeat="user in users">
		  	<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="1">
		  		<ion-slide>
		  			<post-content post="user.posts.popularPost" user="user" clhost="{{clhost}}"></post-content>
		  		</ion-slide>
		  		<ion-slide>
		  			<post-content post="user.posts.currentPost" user="user" clhost="{{clhost}}"></post-content>
		  		</ion-slide>
		  		<ion-slide>
		  			<post-content post="user.posts.mostRecentPost" user="user" clhost="{{clhost}}"></post-content>
		  		</ion-slide>
		  	</ion-slide-box>
		</li>
	 </ul>
  </ion-content>
  <footer-bar-feed></footer-bar-feed>
  <!--<div class="bar bar-footer bar-balanced">
  	<div class="title"><a class="button" href="#/app/new_post"><i class="ion-ios7-camera-outline photo-icon-size"></i></a></div>
  </div>-->
<!--</ion-view>-->
