  <div class="bar bar-header header-color">
    <a class="button icon-left ion-arrow-left-a button-clear button-dark" href="#/app/login"></a>
    <h1 class="header-font title">Friends</h1>
  </div>
  <div circular-menu subtags="subtagsArr" selectedtags="selectedTagsArr" mypagekey="friends"></div>
  
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="user in users">
       
       <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="1">
        <ion-slide>
          <div class="card">
            <div  class="item item-avatar align-card-header">
              <img src="{{user.profileImg}}">
              <h4>{{user.name}}</h4>
              <p>{{ user.posts.popularPost.postingDate}}</p>
            </div>
      			<div class="item item-avatar align-card-header">							
      				<a href="#/app/school_feeds"><img src="{{ user.SchoolImg}}"></a>
      				<h2 ng-click="schoolFeed( {{user.posts.popularPost.schoolId}})">{{ user.posts.popularPost.SchoolName}}</h2>
      			</div>
            
              
            <div class="item">
              <img class="full-image" src="{{user.posts.popularPost.postImg}}">
              <span>
                <p class="image-caption">
                  {{user.posts.popularPost.caption}}
                </p>
              </span>
              <div class="card">
                  <span class="tagItem" ng-repeat="tag in user.posts.popularPost.tags"> {{findTagByTagId(tag)}}<a ng-click="removeTag( tag , user.posts.popularPost.tags)"><i class="icon ion-close-round"></i></a></span>
              </div>
              <p>
                <a href="#" class="subdued">{{ user.posts.popularPost.likes}} Like</a>
              </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
              <a ng-click="menu('#social', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-android-friends"></i>
                Social Life
              </a>
              <a ng-click="menu('#genre', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-social-android"></i>
                Smart
              </a>
            </div>

          </div>
        </ion-slide>

        <ion-slide>
		
          <div class="card">			
			
      			<div class="item item-avatar align-card-header">			
      				<img src="{{ user.profileImg}}">
      				<h4>{{user.name}}</h4>
      				<p>{{ user.posts.currentPost.postingDate}}</p>
      			</div>
      			<div class="item item-avatar align-card-header">							
      				<img src="{{ user.SchoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
      				<h2 ng-click="schoolFeed( {{user.posts.currentPost.schoolId}})">{{ user.posts.currentPost.SchoolName}}</h2>
      			</div>	
			
			
            <div class="item">
              <img class="full-image" src="{{user.posts.currentPost.postImg}}">
              <span>
                <p class="image-caption">{{user.posts.currentPost.caption}}</p>
              </span>
              <div class="card">
                  <span class="tagItem" ng-repeat="tag in user.posts.currentPost.tags"> {{findTagByTagId(tag)}}<a ng-click="removeTag( tag, user.posts.currentPost.tags )"><i class="icon ion-close-round"></i></a></span>
              </div>
              <p>
                <a href="#" class="subdued">{{ user.posts.currentPost.likes}} Like</a>
              </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

              <a ng-click="menu('#social', user.posts.currentPost.tags )" class="tab-item">
                  <i class="icon ion-android-friends"></i>Social Life
              </a>

              <a ng-click="menu('#genre', user.posts.currentPost.tags )" class="tab-item" >
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.currentPost.tags )" class="tab-item" >
                <i class="icon ion-social-android"></i>
                Smart
              </a>
            </div>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="card">
            <div class="item item-avatar align-card-header">
              <img src="{{ user.profileImg}}">
              <h4>{{user.name}}</h4>
              <p>{{ user.posts.mostRecentPost.postingDate}}</p>
            </div>
      			<div class="item item-avatar align-card-header">							
      				<img src="{{ user.SchoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
      				<h2 ng-click="schoolFeed( {{user.posts.mostRecentPost.schoolId}})">{{ user.posts.mostRecentPost.SchoolName}}</h2>
      			</div>	
            <div class="item item-body">
              <img class="full-image" src="{{user.posts.mostRecentPost.postImg}}">
              <span>
                <p class="image-caption">
                  {{user.posts.mostRecentPost.caption}}
                </p>
              </span>
              <div class="card">
                  <span class="tagItem" ng-repeat="tag in user.posts.mostRecentPost.tags"> {{findTagByTagId(tag)}} <a ng-click="removeTag( '{{ tag }}', {{user.posts.mostRecentPost.tags}} )"><i class="icon ion-close-round"></i></a></span>
              </div>

              <p>
                <a href="#" class="subdued">{{ user.posts.mostRecentPost.likes}} Like</a>
              </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
              <a ng-click="menu('#social', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-android-friends"></i>
                Social Life
              </a>
              <a ng-click="menu('#genre', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-social-android"></i>
                Smart
              </a>
            </div>

          </div>
        </ion-slide>
      </ion-slide-box>

    </ion-item>
  </ion-list>
</ion-content>
