 
<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div circular-menu subtags="subtagsArr" selectedtags="selectedTagsArr" mypagekey="friends"></div>
  
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="user in users">
       
       <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="1">
        <ion-slide>
          <div class="card">
          	<p align="right">{{ user.posts.popularPost.postingDate}}</p>
            <div  class="align-card-header">
              <img src="{{user.profileImg}}">
              <h4>{{user.name}}</h4>
              
            </div>
			<div class="align-card-header">						
				<img src="{{ user.SchoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
				<h4 ng-click="schoolFeed( {{user.posts.popularPost.schoolId}})">{{ user.posts.popularPost.SchoolName}}</h4>
			</div>
            <div class="item post-img" style="clear:both;">
              <img class="full-image" src="{{user.posts.popularPost.postImg}}">
              <p class="likes">
              	<a href="#" class="subdued">{{ user.posts.popularPost.likes}} Likes</a>
              </p>
              <span>
                <p class="image-caption">
                  {{user.posts.popularPost.caption}}
                </p>
              </span>
              <div class="card item-text-wrap">
              	
                <p class="tagItem"> 
                {{ user.posts.popularPost.tagCategory + " : "}}
                
                {{ formatTags(user.posts.popularPost.tags) }}
				  <!--{{findTagByTagId(tag)}}
					<a ng-click="removeTag( tag , user.posts.popularPost.tags)">
						<i class="icon ion-close-round"></i>
					</a> -->
				</p>
				<p class="custom-tag">
					{{ formatTags(user.posts.popularPost.customTags) }} 
				</p>
              </div>
            </div>

            <!-- <div class="item tabs tabs-secondary tabs-icon-left">
              <a ng-click="menu('#social', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-android-friends"></i>
                Social Life
              </a>
              <a ng-click="menu('#genre', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-social-android"></i>
                Smart
              </a>
              <a ng-click="menu('#customTag', user.posts.popularPost.tags)" class="tab-item">
                <i class="icon ion-social-android"></i>
                Custom Tag
              </a>

            </div> -->

          </div>
        </ion-slide>

        <ion-slide>
		
          <div class="card">			
          	<p align="right">{{ user.posts.currentPost.postingDate}}</p>
  			<div class="align-card-header">			
  				<img src="{{ user.profileImg}}">
  				<h4>{{user.name}}</h4>
  				
  			</div>
  			<div class="align-card-header">
  				<img src="{{ user.SchoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
  				<h4 ng-click="schoolFeed( {{user.posts.currentPost.schoolId}})">{{ user.posts.currentPost.SchoolName}}</h4>
  			</div>	
			
			
            <div class="item post-img" style="clear:both;">
              <img class="full-image" src="{{user.posts.currentPost.postImg}}">
              <p class="likes">
              	<a href="#" class="subdued">{{ user.posts.currentPost.likes}} Likes</a>
              </p>
              <span>
                <p class="image-caption">{{user.posts.currentPost.caption}}</p>
              </span>
              <div class="card item-text-wrap">
                <p>
                {{ user.posts.currentPost.tagCategory + ":" }}
                {{ formatTags(user.posts.currentPost.tags) }}
				  <!--{{findTagByTagId(tag)}}
					<a ng-click="removeTag( tag, user.posts.currentPost.tags )">
						<i class="icon ion-close-round"></i>
					</a>-->
				</p>
				<p class="custom-tag">
					{{ formatTags(user.posts.currentPost.customTags) }} 
				</p>
              </div>
              
            </div>

            <!-- <div class="item tabs tabs-secondary tabs-icon-left">

              <a ng-click="menu('#social', user.posts.currentPost.tags )" class="tab-item">
                  <i class="icon ion-android-friends"></i>Social Life
              </a>

              <a ng-click="menu('#genre', user.posts.currentPost.tags )" class="tab-item" >
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.currentPost.tags )" class="tab-item" >
                <i class="icon ion-social-android"></i>
                Smart
              </a>
            </div> -->

          </div>
        </ion-slide>

        <ion-slide>
          <div class="card">
          <p align="right">{{ user.posts.mostRecentPost.postingDate}}</p>
            <div class="align-card-header">
              <img src="{{ user.profileImg}}">
              <h4>{{user.name}}</h4>
            </div>
			<div class="align-card-header">							
				<img src="{{ user.SchoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
				<h4 ng-click="schoolFeed( {{user.posts.mostRecentPost.schoolId}})">{{ user.posts.mostRecentPost.SchoolName}}</h4>
			</div>	
            <div class="item post-img" style="clear:both;">
              <img class="full-image" src="{{user.posts.mostRecentPost.postImg}}">
              <p class="likes">
              	<a href="#" class="subdued">{{ user.posts.mostRecentPost.likes}} Likes</a>
              </p>
              <span>
                <p class="image-caption">
                  {{user.posts.mostRecentPost.caption}}
                </p>
              </span>
              <div class="card item-text-wrap">
              	<p>
              		{{  user.posts.mostRecentPost.tagCategory }} : </span>
              		{{ formatTags(user.posts.mostRecentPost.tags) }} 
					<!--{{findTagByTagId(tag)}} 
					<a ng-click="removeTag( '{{ tag }}', {{user.posts.mostRecentPost.tags}} )">
					<i class="icon ion-close-round"></i>
					</a> -->
				</p>
				<p class="custom-tag">
					{{ formatTags(user.posts.mostRecentPost.customTags) }} 
				</p>
              </div>
            </div>

            <!-- <div class="item tabs tabs-secondary tabs-icon-left">
              <a ng-click="menu('#social', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-android-friends"></i>
                Social Life
              </a>
              <a ng-click="menu('#genre', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-male"></i>
                Rated R
              </a>
              <a ng-click="menu('#smart', user.posts.mostRecentPost.tags)" class="tab-item">
                <i class="icon ion-social-android"></i>
                Smart
              </a>
            </div> -->

          </div>
        </ion-slide>
      </ion-slide-box>

    </ion-item>
  </ion-list>
</ion-content>
<div class="bar bar-footer bar-balanced">
  <div class="title"><a class="button" href="#/app/new_post"><i class="ion-ios7-camera-outline photo-icon-size"></i></a></div>
</div>
</ion-view>
