
<ion-view>

	<ion-content class="has-subheader padding-top" >
		
		<!-- <fb:login-button scope="public_profile,email,user_photos,user_videos,user_friends" onlogin="checkLoginState();">
		</fb:login-button> -->
		
		<div align="center">
			<div>
				<a href="">
					<img src="img/Instagram_Icon_Large.png" width="120px" ng-click="instagramLogin()">
				</a>
			</div>
			</br>
			<!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" ng-click="facebookLogin()">
			</div> -->
			<!-- <div>
				<img src="img/fb_login_button.png" width="250px" ng-click="facebookLogin()">
			</div> -->
			<!-- AWS EC2 URL http://54.149.27.205     Account was closed 28th December 2015 -->
			
			<form action="http://54.200.159.155:8080/fb/login" method="POST">
				<input type="hidden" name="userId" value="{{moteUserId}}">
				<!-- <p align="center"><button type=submit" style="padding:0px;height:62px;"><img  src="img/fb_login_button.png" style="padding:0px;"/></button></p> -->
				<button class="button button-clear" type="submit"><img  src="img/fb_login_button.png"/></button>
			</form>
		
		</div>
	</ion-content>
	
	<div class="bar bar-footer bar-royal">
  		<button class="button button-clear" ng-click="goToFriendsFeed()">SKIP</button>
  		<div class="title">Get Connected !!!</div>
  		<button class="button button-clear" ng-click="goToFriendsFeed()">DONE</button>
	</div>
	
</ion-view>