
<script type="text/javascript">
	FB.XFBML.parse();
</script>
<ion-view>

	<ion-content class="has-subheader padding-top" >
		
		<!-- <fb:login-button scope="public_profile,email,user_photos,user_videos,user_friends" onlogin="checkLoginState();">
		</fb:login-button> -->
		
		<div align="center">
			<div>
				<a href="">
					<img src="img/Instagram_Icon_Large.png" width="120px" ng-click="instagramLogin()">
				</a>
			</div>
			</br>
			<!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" ng-click="facebookLogin()">
			</div> -->
			<div>
				<img src="img/fb_login_button.png" width="250px" ng-click="facebookLogin()">
			</div>
			
			<form action="/connect/facebook" method="POST">
			    <input type="hidden" name="scope" value=" public_profile, email, user_friends, user_posts, user_photos, user_videos" />
			    <div class="formInfo">
			        <p>You aren't connected to Facebook yet. Click the button to connect Mote with your Facebook account.</p>
			    </div>
			    <p><button type="submit"><img src="/resources/social/facebook/connect_light_medium_short.png"/></button>      </p>
			</form>
		
		</div>
	</ion-content>
	
	<div class="bar bar-footer bar-royal">
  		<button class="button button-clear" ng-click="goToLogin()">SKIP</button>
  		<div class="title">Get Connected !!!</div>
  		<button class="button button-clear" ng-click="goToLogin()">DONE</button>
	</div>
	
</ion-view>