
  <div class="bar bar-header header-color">
    <h1 class="title">CollegeLife</h1>
  </div>
  <ion-content class="has-header body-color">

    <div class="list list-inset">
      <input type="text" placeholder="Edu Email Address" ng-model="loginData.user_name">
    </div>
    <div class="list list-inset">
      <input type="password" placeholder="password" ng_model="loginData.password">
    </div>

    <button class="button button-block button-stable" ng_click="validate()">
      Login
    </button>

    <a href="#/app/create_account">Create Account</a>
    <a href="#/app/forgot_password">Forgot Password</a>
  </ion-content>
