

<svg>
    <defs>
        <path id="myTextPath"
              d="M5,30 l10,0 l40,0"/>
    </defs>
</svg>


<div id="menu" class="circular-menu">
	<div class="circle">

	    <a ng-click="tagged( tagsarr[0].id , tagsarr[0].tagText)" ><div><p>{{ tagsarr[0].tagText }}</p></div></a>
	    <a ng-click="tagged( tagsarr[1].id , tagsarr[1].tagText)" ><div><p>{{ tagsarr[1].tagText }}</p></div></a>
	    <a ng-click="tagged( tagsarr[2].id , tagsarr[2].tagText )" ><div><p>{{ tagsarr[2].tagText }}</p></div></a>
	    <a ng-click="tagged( tagsarr[3].id , tagsarr[3].tagText )" ><div><p>{{ tagsarr[3].tagText }}</p></div></a>
	    <a ng-click="tagged( tagsarr[4].id , tagsarr[4].tagText)" ><div><p>{{ tagsarr[4].tagText }}</p></div></a>
	</div>
	<div class="menu-button">
		<a id="smartButton"  href="" ng-click="adjustMenuIndex()"><i class="icon ion-help-buoy" style="font-size: 40px;"></i></a>
	</div>
</div> 

