	
	<style>
      .ng-pageslide {
          background: white;
      }
      
      #tagContainer ul li { display: inline; list-style-type: none;}
      
      </style>
      
      <pageslide ps-side="left" ps-size="90%" ps-open="checked">
	    <div style="background: white; padding:10px;">  
			<p style="margin-top:10px; margin-right:5px;" align="right"><img ng-src="img/search_icon_mote.jpg" width="10%" ng-click="toggleCustomMenu()"></p>
		 
			<div class="row" style="margin-top:-25px;">
				<div class="col-10"></div>
				<div class="col-10"></div>
				<div class="col">    
					<button class="nav-button" ng-class="{'button-royal': school, 'button-outline button-royal': !school}" ng-click="setContext('school', 'nonav')" style="border-radius: 30px; font-size:16px">school</button>
				</div>
				<div class="col">
					<button class="nav-button" ng-class="{'button-royal': nation, 'button-outline button-royal': !nation}" ng-click="setContext('nation', 'nonav')" style="border-radius: 30px; font-size:16px">national</button>
				</div>
				<div class="col-10"></div>
				<div class="col-10"></div>
			</div>
	
			<div style="border-style: solid;border-width: medium;border-color: #8a6de9; margin-top: 10px;">
				<input type="text" ng-model="collegeName" placeholder="University">
			</div>
			
			<div style="border-style: solid;border-width: thin;border-color: #8a6de9; margin-top: 10px;">
					<input type="text" ng-model="collegeName" placeholder="University">
			</div>
			
			
			<div style="border-style: solid;border-width: thin;border-color: #8a6de9; margin-top: 10px;">
				<input type="text" ng-model="collegeName" placeholder="University">
			</div>
			
			<div style="border-style: solid;border-width: thin;border-color: #8a6de9; margin-top: 10px;">
				<input type="text" ng-model="collegeName" placeholder="University">
			</div>
			
			<div style="margin-top: 10px;">
				<ion-scroll direction="x" class="item">
					<button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
					class="tag button-outline button-royal" 
					ng-class="{'button-outline' : !tag.selected }"
					ng-repeat="tag in lstTag.tags" ng-click="setTagID({{tag.tagId}})">{{ tag.tagDescription }}</button>								
				</ion-scroll>
			</div>
			
			<div style="border-style: solid;border-width: medium;border-color: #8a6de9; ">
				<input type="text" ng-value="selectedTagDescriptions" placeholder="Selected Tags">
			</div>
			
			<div class="row" style="margin-top:8px;">
				
				<div class="col-50">   
					<button class="customize-button button-royal" ng-click="applyCustomization()" style="border-radius: 30px; font-size:12px">&nbsp;&nbsp;recent feed&nbsp;&nbsp;</button>
				</div>
				<div class="col-50">   
					<button class="customize-button button-royal" ng-click="applyCustomization()" style="border-radius: 30px; font-size:12px">customize feed</button>
				</div>  
								
								
			</div>
		
		</div>
      </pageslide>
	  
	  <!-- 
	  
		<div>
	      	<div class="item item-input item-select body-color">
				<div class="input-label">
				  University
				</div>
				<select class="item-input-wrapper" ng-model="collegeId">
					<option value="{{ school.id }}" ng-repeat="school in schools">{{school.name}}</option>
				</select>
			</div>
	    	<div>
		      	<ul rn-carousel rn-carousel-index="5" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3">
		      		<li ng-repeat="school in schools track by school.id">
		      			<div ng-style="{'background-image': 'url(' + '{{clhost }}' + '/' + school.imgPath + ')'}" ng-click="setFilterCollegeId({{school.id}})" class="bgimage">
		      				#{{ school.id }}
		      			</div>
		      		</li>
	          	</ul>
	          </div>
		      <div class="bar">
			   		<div class="button-bar">
					   	  <a class="button" ng-click="showSubtags('socials')">Social Life</a>
					   	  <a class="button" ng-click="showSubtags('smarts')">Smarts</a>
					   	  <a class="button" ng-click="showSubtags('genre')">Rated R</a>
					</div>
			  </div>
			  </br>
			  <div style="margin-top: 30px;">
				  <button style="border-radius: 10px;margin: 0px 0px 5px 5px;" 
				  class="button button-small icon-right ion-checkmark-round button-balanced" 
				  ng-class="{'button-outline' : !subTag.selected }"
				  ng-repeat="subTag in subTags" ng-click="setTagID({{subTag.id}})">{{ subTag.subTag }}</button>
			  </div>
			  <a style="position:absolute; bottom:-14px; left:45%;color:black;" 
			  ng-click="toggleCustomMenu()" class="button button-icon icon ion-drag button-dark"></a>
		  </div>
	  
	  -->