	
	<style>
      .ng-pageslide {
          background: white;
      }
      
      #tagContainer ul li { display: inline; list-style-type: none;}
      
      </style>
      
      <pageslide ps-side="left" ps-size="100%" ps-open="checked">
	    <div style="background: white; padding:10px;">  
			<p style="margin-top:10px; margin-right:5px;" align="right"><img ng-src="img/search_icon_mote.jpg" width="10%" ng-click="toggleCustomMenu()"></p>
		 
			<div class="row" style="margin-top:-45px;">
				<div class="col-10"></div>
				<div class="col-10"></div>
				<div class="col">    
					<button class="nav-button" ng-class="{'button-royal': !school, 'button-outline button-royal': school}" ng-click="setContext('school', 'nonav')" style="padding:0 13px;">school</button>
				</div>
				<div class="col">
					<button class="nav-button" ng-class="{'button-royal': !nation, 'button-outline button-royal': nation}" ng-click="setContext('nation', 'nonav')">national</button>
				</div>
				<div class="col-10"></div>
				<div class="col-10"></div>
			</div>
	
			<div style="margin-top: 10px;">
				<p class="post-item" style="margin-bottom:0px;">Filter by Colleges</p>
				
				<ion-scroll direction="x" zooming="true" class="item customize-feed-selected">
					<button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
					class="tag button-royal" 
					ng-repeat="college in feedFilterColleges" ng-click="setCollegeId({{college.collegeId}})">{{ college.collegeName }}</button>								
				</ion-scroll>
				
				<ion-scroll direction="xy" zooming="true" class="item customize-feed-select" style="height: 100px; white-space:pre-wrap;">
					<button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
					class="tag button-outline button-royal" 
					ng-class="{'button-outline' : !college.selected }"
					ng-repeat="college in colleges" ng-click="setCollegeId({{college.collegeId}})">{{ college.collegeName }}</button>								
				</ion-scroll>
				<!-- <p class="post-item" style="margin-bottom:0px;">Selected College(s)</p> -->
				
			</div>
			
			<div style="margin-top: 10px;">
				<p class="post-item" style="margin-bottom:0px;">Filter by Tags</p>
				
				<ion-scroll direction="x" zooming="true" class="item customize-feed-selected">
					<button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
					class="tag button-royal" 
					ng-repeat="tag in feedFilterTags" ng-click="setTagID({{tag.tagId}})">{{ tag.tagDescription }}</button>								
				</ion-scroll>
				
				<ion-scroll direction="xy" zooming="true" class="item customize-feed-select">
					<button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
					class="tag button-outline button-royal" 
					ng-class="{'button-outline' : !tag.selected }"
					ng-repeat="tag in lstTag.tags" ng-click="setTagID({{tag.tagId}})">{{ tag.tagDescription }}</button>								
				</ion-scroll>
				<!-- <p class="post-item" style="margin-bottom:0px;">Selected Tag(s)</p> -->
				
			</div>
			
			<!-- <div style="border-style: solid;border-width: medium;border-color: #8a6de9; ">
				<input type="text" ng-value="selectedTagDescriptions" placeholder="Selected Tags">
			</div> -->
			
			 <p align="center" style="margin-top:18px;">
				<button class="customize-button button-royal" ng-click="applyCustomization()">customize feed</button>
			 </p>
		
		</div>
      </pageslide>
	  
	 