	

	
	<!--<div class="row">
	  	<div class="col">
	  		<img style="width:30px; height:30px;" ng-src="{{ clhost + '/' + user.schoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
	  		<a ng-click="schoolFeed( {{user.schoolId}})">{{ user.schoolName}}</a>
	  	</div>
    </div>-->
  
	<div class="item post-img">    
      
      <p align="right" class="image-post-time">{{ post.postingDate}}</p>
      <div style="position:relative;">
        <div style="position:absolute; top:0; left:0; width:50%;"><p align="left"><b style="color: #8a6de9;">{{user.name}}</b></p></div>
        <div style="position:absolute; top:0; right:0; width:50%;"><p align="right"><b style="color: #8a6de9;">James Madison University</b></p></div>
		<!-- hardcoding for POC {{ user.schoolName}}-->
      </div>
      
      </br>
      
	  <img class="full-image" ng-src="{{ clhost + '/' + post.postImg}}" ng-click="updateLike(post)">

        <p class="likes" align="left" style="white-space: normal;">
        	<a ng-click="updateLike(post)"><span ng-bind="post.likes"></span> Likes</a>
          	&nbsp;&nbsp;&nbsp;&nbsp;
          <button style="border-radius: 10px;margin: 0px 0px 5px 5px; font-size:10px;" 
          class="button button-small button-outline button-royal" 
          ng-repeat="tag in post.tags" >{{findTagByTagId(tag)}}</button>

        </p>
  
        <div>
        	<!--<img ng-src="{{ clhost + '/' + user.profileImg}}" class="profile-img-style">-->

          <p style="margin-top: 10px;margin-bottom: 50px;">
          	<!--<div class="progress">-->
                <img src="img\mote_logo.jpg" style="width:5%;">&nbsp;{{post.caption}}
            <!--</div>-->
            
          </p>
        </div>
        
    </div>