	

	
	<!--<div class="row">
	  	<div class="col">
	  		<img style="width:30px; height:30px;" ng-src="{{ clhost + '/' + user.schoolImg}}" ng-click="schoolFeed( {{user.schoolId}})">
	  		<a ng-click="schoolFeed( {{user.schoolId}})">{{ user.schoolName}}</a>
	  	</div>
    </div>-->
  
	<div class="item post-img">    
      
      <p align="right" class="image-post-time">{{ post.postingDate}}&nbsp;</p>
      <div style="position:relative;">
        <div style="position:absolute; top:0; left:0; width:50%;"><p align="left"><b style="color: #8a6de9;">{{user.name}}</b></p></div>
        <div style="position:absolute; top:0; right:0; width:50%;"><p align="right"><b style="color: #8a6de9;">James Madison University</b></p></div>
		<!-- hardcoding for POC {{ user.schoolName}}-->
      </div>
      
      </br>
      
	  <img class="post-image" ng-src="{{ clhost + '/' + post.postImg}}" ng-click="updateLike(post)">

	  <div>
        <div class="likes" style="float:left;">
        	<a ng-click="updateLike(post)"><span ng-bind="post.likes"></span> Likes</a>
        </div>
        <div style="float:right;">
          		<button class="tag button button-outline button-royal" ng-repeat="tag in post.tags" >{{findTagByTagId(tag)}}</button>
        </div>
	  </div>
	  
	  <div style="clear:both;"></div>
  		
        <div>
        	<!--<img ng-src="{{ clhost + '/' + user.profileImg}}" class="profile-img-style">-->

          <p style="margin-top: 1px;margin-bottom: 50px;">
          	<!--<div class="progress">-->
                <img src="img\mote_logo.jpg" style="width:5%;"><span class="caption">&nbsp;{{post.caption}}</span>
            <!--</div>-->
            
          </p>
        </div>
        
    </div>