<ion-view title="My Life">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

   <ion-tabs class="tabs-positive tabs-icon-only">
	  <ion-tab title="Postings" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
	  		<div class="card">
			    <div  class="item item-avatar align-card-header">
			      <img src="{{user.profileImg}}">
			      <h4>{{user.name}}</h4>
			      <p>
		            <a href="#" class="subdued">{{ user.posts.mostRecentPost.likes}} Like</a>
		          </p>
			    </div>
		    </div>

	       <div class="card">
		    	<div class="item">
		          <img class="full-image" src="{{user.posts.popularPost.postImg}}">
		          <span>
		            <p class="image-caption">
		              {{user.posts.popularPost.caption}}
		            </p>
		          </span>
		        </div>
		        <div class="item">
		          <img class="full-image" src="{{user.posts.currentPost.postImg}}">
		          <span>
		            <p class="image-caption">
		              {{user.posts.currentPost.caption}}
		            </p>
		          </span>
		        </div>
		        <div class="item">
		          <img class="full-image" src="{{user.posts.mostRecentPost.postImg}}">
		          <span>
		            <p class="image-caption">
		              {{user.posts.mostRecentPost.caption}}
		            </p>
		          </span>
		        </div>
		    </div>        

	  </ion-tab>

	  <ion-tab title="Personal Info" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
	    <div class="list">	    	

	    	<label class="item item-input item-select body-color">
			    <div class="input-label">
			      University
			    </div>
				<select class="item-input-wrapper">
		      		<option value="{{ school.id }}" ng-repeat="school in schools">{{school.comment}}</option>
		    	</select>
	    	</label>
	    	<div class="item item-input-inset body-color">
	    		<div class="input-label">
			      First Name
			    </div>
				<label class="item-input-wrapper">
					<input type="text" placeholder="First Name" ng-model="user.firstName">
				</label>	
		  	</div>
		  	<div class="item item-input-inset body-color">
	    		<div class="input-label">
			      Last Name
			    </div>
				<label class="item-input-wrapper">
					<input type="text" placeholder="Last Name" ng-model="user.lasttName">
				</label>	
		  	</div>
		  	<div class="item item-input-inset body-color">
	    		<div class="input-label">
			      Address1
			    </div>
				<label class="item-input-wrapper">
					<input type="text" placeholder="Address1" ng-model="user.address1">
				</label>	
		  	</div>
		  	<div class="item item-input-inset body-color">
	    		<div class="input-label">
			      Address2
			    </div>
				<label class="item-input-wrapper">
					<input type="text" placeholder="Address2" ng-model="user.address2">
				</label>	
		  	</div>
		  	<div class="item item-input-inset body-color">
	    		<div class="input-label">
			      Mobile
			    </div>
				<label class="item-input-wrapper">
					<input type="text" placeholder="Mobile" ng-model="user.mobile">
				</label>	
		  	</div>

		</div>
	  </ion-tab>

	  <ion-tab title="Preferrence" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
	    
	  </ion-tab>

	</ion-tabs>
</ion-view>
