  <!---
  <div class="bar bar-subheader">
 	<div class="button-bar" style="width:80%;  margin-left:30px;">
 	  <a class="button" ng-class="{'button-stable': !friends, 'header-color': friends}" href="#/app/friends_feeds" ng-click="setContext('friends')">Friends</a>
	  <a class="button" ng-class="{'button-stable': !school, 'header-color': school}" href="#/app/school_feeds" ng-click="setContext('school')">School</a>
	  <a class="button" ng-class="{'button-stable': !nation, 'header-color': nation}" href="#/app/national_feeds" ng-click="setContext('nation')">National</a> 	</div>
  </div>-->
  <!--<div circular-menu subtags="subtagsArr" selectedtags="selectedTagsArr"></div>-->

  <header-bar></header-bar>
  <header-bar-feed></header-bar-feed>

  <ion-content class="has-subheader">
  	<!--<div water-wheel-carousel clcontext="carousel"></div>-->

  	 <ul class="list"  style="padding-top:80px;">
	  	<li class="item" style="padding: 0px;" ng-repeat="user in schoolUsers" ng-click="toggleCustomMenu()">
      
	  		<slide-page></slide-page>
	  		
	  		<post-content post="user.post" user="user" clhost="{{clhost}}"></post-content>
		</li>

	</ul>

</ion-content>
<footer-bar-feed></footer-bar-feed>
<!--<div class="bar bar-footer bar-balanced">
  <div class="title"><button class="button"><i class="ion-ios7-camera-outline photo-icon-size"></i></button></div>
</div>-->
