<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Search</h1>


            <div id="ex-full-spinopen" style="display:block; width: 300px; height: 300px; border: 1px solid black; position: relative; overflow: hidden;">
                <ul class="menu circleMenu-closed" id="menu2">
                    <li><a href="#"></a></li>
                    <li><a href="#" alt="Item 1" title="Item 1">1</a></li>
                    <li><a href="#" alt="Item 2" title="Item 2">2</a></li>
                    <li><a href="#" alt="Item 3" title="Item 3">3</a></li>
                    <li><a href="#" alt="Item 4" title="Item 4">4</a></li>
                    <li><a href="#" alt="Item 5" title="Item 5">5</a></li>
                    <li><a href="#" alt="Item 6" title="Item 6">6</a></li>
                    <li><a href="#" alt="Item 7" title="Item 7">7</a></li>
                    <li><a href="#" alt="Item 8" title="Item 8">8</a></li>
                    <li><a href="#" alt="Item 9" title="Item 9">9</a></li>
                    <li><a href="#" alt="Item 10" title="Item 10">10</a></li>
                </ul>
            </div>
  </ion-content>
</ion-view>
