
	<div class="bar bar-header bar-royal">
  		<h1 class="title" style=;font-size: 30px;">Customize</h1>
	</div>
	
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="card">
        <div class="item item-divider" >
            Filter Posts By one or more Tag
        </div>
        <span class="tagItem" ng-repeat="tag in filterByTags"> {{findTagByTagId(tag)}}<a ng-click="removeTag( tag , filterByTags)"><i class="icon ion-close-round"></i></a></span>
    </div>

     <!--     
  	<div class="item tabs tabs-secondary tabs-icon-left" style = " background-color: #8a6de9;">
        <a ng-click="menu('#social', user.posts.popularPost.tags)" class="tab-item">
            <i class="icon ion-android-friends" style =" color: white;"></i>
            Social Life
        </a>
        <a ng-click="menu('#genre', user.posts.popularPost.tags)" class="tab-item">
            <i class="icon ion-beer" style = " color: white;"></i>
            Rated R
        </a>
        <a ng-click="menu('#smart', user.posts.popularPost.tags)" class="tab-item">
            <i class="icon ion-university" style = " color: white;"></i>
            Smart
        </a>
        <a ng-click="menu('#customTag', user.posts.popularPost.tags)" class="tab-item">
            <i class="icon ion-pricetag" style = " color: white;"></i>
            Custom Tag
        </a>
    </div>
    --!>
    
    
    <div class="card">
        
        <div class="list">         
            <label class="item item-input item-select body-color">
                <div class="input-label">
                    Filter Posts Criteria
                </div>
                <select class="item-input-wrapper" ng-model="searchCriteria">
                    <option value="1">Filter By Friends</option>
                    <option value="2">Filter By Likes Range</option>
                    <option value="3">Filter By Dates Range</option>
                    <option value="4">Filter By School</option>
                    <option value="5">Filter By random text</option>
                </select>
            </label>
        </div>

        <div class="item item-input-inset body-color">
            <label ng-if="searchCriteria == 1" class="item-input-wrapper">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Select one or more friends" ng-model="searchData">
            </label> 
            <label ng-if=" searchCriteria == 2" class="item-input-wrapper">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Select Likes range" ng-model="searchData">
            </label>    
            <label ng-if=" searchCriteria == 3" class="item-input-wrapper">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Select Dates range" ng-model="searchData">
            </label>    
            <label ng-if=" searchCriteria == 4" class="item-input-wrapper">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Search Text" ng-model="searchData">
            </label>    
			<label ng-if=" searchCriteria == 5" class="item-input-wrapper">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Search Random Text" ng-model="searchData">
            </label>    
        </div>

    </div>
    
    <div class = "list">
    	<label class="item item-input item-select body-color" style = "margin-left:11px; margin-right:11px;"> 
                <div class="input-label">
                    Category
                </div>
                <select class="item-input-wrapper">
                    <option value="1">Social Life</option>
                    <option value="2">Rated R</option>
                    <option value="3">Smart</option>
                    <option value="4">Custom Tag</option>
                </select>
            </label>
        </div>
    
  </ion-content>
</ion-view>
