
body {
 font-size:12px;
 font-style: 'Helvetica Neue'
}

.tabs, .header-color{
	background-color: rgb(76, 122, 52);
}

.header-font {
	color: rgba(174, 221, 148, 1);
	font-size: 40px !important;
}

ion-nav-bar, .card > div , .list > ion-item, ion-content ,  .item-complex  .item-content, .list > label , 
.list > div, .list > li , .list > .card > a , .item-avatar, .card, .pane, .bg-color , .item-select select , .bar-subheader, 
 #carousel{
	background-color: white; //rgb(254, 198, 61);
}

.item-complex  .item-content {
	font-weight: bold;
}

.cl_error{
	margin-left:40px;
	color: red;
}

/* Button Styles */
.sign-up {
	
	//border-style: hidden;
	border-radius: 6px;
	margin-left:25%;
	margin-right:25%;
	padding: 0 50px;
	font-size: 20px;
	line-height: 10px;
	
	
}

.post {
	
	//border-style: hidden;
	border-radius: 20px;
	margin-left:25%;
	margin-right:25%;
	padding: 0 50px;
	font-size: 20px;
	line-height: 10px;
	
	
}

.login {
	
	border-radius: 6px;
	margin-left:25%;
	margin-right:25%;
	padding: 0 58px;
	font-size: 20px;
	line-height: 10px;
}

.question {
	margin-top: 3%;
	margin-left:28%;
	margin-right:25%;
}

.fore-color {
	color: #8a6de9 !important;
}

.button-bar img {
	width: 50%;
}

/* Item Avatar setting*/
.item-avatar {
	padding-left: 52px;
	min-height: 32px;
	border-style:none;
}

.item-avatar > img:first-child {
	top: 10px;
	max-width: 30px;
	max-height: 30px;
}



.bar.bar-stable {
	border-color: rgb(76, 122, 52);
	background-color: rgb(76, 122, 52);
	//background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
	color: #rgba(174, 221, 148, 1);
	
}

.bar.bar-stable .title {
	font-size: 40px !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Caption for each image post */

.profile-img-style {
	float: left;
	width: 20%;
	height: 30%;
	border-radius: 40px;
}

.align-card-header {

	float: left; 
	width: 50%;
}

#carousel {
	width:420px;
	border:1px solid #222;
	height:80px;
	position:relative;
	clear:both;
	overflow:hidden;
	//background:#FFF;
}

#carousel img {
	visibility:hidden; /* hide images until carousel can handle them */
	cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

.photo-icon-size {
	font-size: 50px;
}

/*.item {
	border-width : 0px;	
	border-style: none;
}*/

.post-img-size {
	height: 300px;
}
.post-img {
	padding: 0px;
}

/* username on each posting*/
.align-card-header h4 {
	padding-left: 40px;
	margin-top: -15px;
}


.image-post-time {
	margin-top: 10px;
	font-size: 12px !important;
}





/*Custom Page CSS*/

.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
	width: 200px;
	height: 100px;
	margin: 0 auto;
}

/* user Likes style */

.like_layout {
	width: 20%;
	height: 30px;
}

.likes {
	margin-top: 5px;
}

.likes a {
	color: #8a6de9;
	font-weight: bold;
}

/* Progress indicator */
.progress {
	padding-left: 0%;
	margin-top: -35px;
}

.progress img {
	width: 30px;
}


/* Tags */

.tag_item {
	font-weight: bold;
	color: rgb(119, 244, 119);
	
}

/* override item-avatar*/

.align-card-header .item h2 {
	font-size: 36px;
}

.round-button{
	display:block;
	width:90px;
	height:90px;
	border-radius:50px;
	font-size:11px;
	font-weight: bold;
	color:#fff;
	line-height:90px;
	text-align:center;

}
